fastapi
uvicorn
langchain
langchain-community
langchain-google-genai
langchain-tavily
langchain-experimental
langchain-groq
tavily-python
python-dotenv
PyPDF2
python-docx
docx2txt
google-generativeai
requests
pydantic
python-multipart
